.bocina {
    background-image: url("../../assets/imagenes/bocinaa.png");
    background-repeat: no-repeat;  
    //background-size: 200;
    height: 65px;
    width: 75px;
    margin-left: 40%;
    /*margin-right: auto;*/
    margin-top: 13px;
  }

  
.botonmenuprincipal1 {
    /*background: chartreuse;
    /*background-color: coral;*/
   // background-image: url("../../assets/imagenes/aprendiendo.png");
   // background-repeat: no-repeat; 
   // background: mediumspringgreen;
   background-color: yellow;
    color: black;
    width: 43%;
    height: 23%;
    font-size: 75px;
    font: bold;
    margin-top: 10%;
    margin-left: 4.5%;
}
.botonmenuprincipal3 {
    /*background: chartreuse;
    /*background-color: coral;*/
    //background-image: url("../../assets/imagenes/evaluaciones.jpg");
   // background-repeat: no-repeat; 
    //background: mediumspringgreen;
    background-color: yellow;
    color: black;
    width: 43%;
    height: 23%;
    font: bold;
    font-size: 75px;
    margin-top: 10%;
    margin-left: 4.5%;
}
.botonmenuprincipal2 {
    /*background: chartreuse;
    /*background-color: coral;*/
    //background: mediumspringgreen;
   // background-image: url("../../assets/imagenes/configuraciones.jpg");
   // background-repeat: no-repeat; 
   background-color: yellow;
    color: black;
    width: 43%;
    height: 23%;
    font: bold;
    font-size: 75px;
    margin-top: 4%;
    margin-left: 4.5%;
}
.botonmenuprincipal4 {
    /*background: chartreuse;*/
    background-color: yellow;
    //background: mediumspringgreen;
    //background-image: url("../../assets/imagenes/salir.jpg");
    //background-repeat: no-repeat; 
    color: black;
    width: 43%;
    height: 23%;
    font: bold;
    font-size: 75px;
    margin-top: 4%;
    margin-left: 4.5%;
}