<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Aprendizaje</ion-title>
  </ion-toolbar>
  <link rel="import" href="./cortina.page.scss">
</ion-header>

<ion-content>
  <!--ion-button class="bocina" color="blue"  (click)="clear()"></ion-button-->
  <ion-button color="blue" class="foto"></ion-button>
  <ion-button color="blue" class="animales1"  (click)="Animales1()">cor </ion-button>
  <ion-button color="blue" class="animales2"  (click)="Animales2()">ti </ion-button>
  <ion-button color="blue" class="animales3"  (click)="Animales3()">na </ion-button>
  <ion-button color="blue" class="regresar"  (click)="Regresar()"> </ion-button>
  <ion-button color="blue" class="continuar"  (click)="Continuar()"> </ion-button>
</ion-content>
