<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Aprendizaje
    </ion-title>
  </ion-toolbar>
  <link rel="import" href="./mapa.page.scss">
</ion-header>

<ion-content class="ion-padding background">
  
 <!--ion-buttons >
    <ion-button  color="light" expand="full" [disabled]="isCanvasBlank()" (click)="save()"> Save</ion-button>
    <ion-button color="light" expand="full" (click)="undo()"> Undo</ion-button-->
      <ion-button class="borrador" color="blue"  (click)="clear()"></ion-button>
      <ion-button class="bocina" color="blue"  (click)="clear()"></ion-button>
    <!--/ion-buttons-->
  
    <div class="signature-pad">
      <div>
        <canvas class="signature-pad-canvas pizarra" #canvas width="400" height="300" style="touch-action: none;"></canvas>
      </div>
    </div>
    <ion-button color="blue" class="vocales"  (click)="clear()"> A</ion-button>
    <ion-button color="blue" class="vocales"  (click)="clear()"> E</ion-button>
    <ion-button color="blue" class="vocales"  (click)="clear()"> I</ion-button>
    <ion-button color="blue" class="vocales"  (click)="clear()"> O</ion-button>
    <ion-button color="blue"class="vocales"  (click)="clear()"> U</ion-button>
  
</ion-content>