<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
    <link rel="import" href="./menu-principal.page.scss">
</ion-header>

<ion-content class="body" color="coral">
  <ion-button color="yellow"  class="botonmenuprincipal1" (click)="Aprendizaje();"></ion-button>
  <ion-button color="yellow"  class="botonmenuprincipal3" (click)="Comprobacionconocimientos();"></ion-button>
  <ion-button color="yellow"  class="botonmenuprincipal2" (click)="Configuraciones();"></ion-button>
  <ion-button color="yellow"  class="botonmenuprincipal4" (click)="Salir();"></ion-button>

  <ion-buttons>
    <!--ion-button color="blue" class="submenuaprendizaje2"  (click)="Animales2()">Evaluación No 2 </ion-button!-->
    <ion-button color="blue" class="submenuaprendizaje22"  (click)="Instrucciones()"> </ion-button>
  </ion-buttons >
</ion-content>

