

.body {
    color: beige;
    background-color: coral;

}
.botonmenuprincipal1 {
    /*background: chartreuse;
    /*background-color: coral;*/
    background-image: url("../../assets/imagenes/aprendiendo.png");
    background-repeat: no-repeat; 
   // background: mediumspringgreen;
    color: coral;
    width: 43%;
    height: 23%;
    font: bold;
    margin-top: 37%;
    margin-left: 4.5%;
}
.botonmenuprincipal3 {
    /*background: chartreuse;
    /*background-color: coral;*/
    background-image: url("../../assets/imagenes/evaluaciones.jpg");
    background-repeat: no-repeat; 
    //background: mediumspringgreen;
    color: coral;
    width: 43%;
    height: 23%;
    font: bold;
    margin-top: 37%;
    margin-left: 4.5%;
}
.botonmenuprincipal2 {
    /*background: chartreuse;
    /*background-color: coral;*/
    //background: mediumspringgreen;
    background-image: url("../../assets/imagenes/configuraciones.jpg");
    background-repeat: no-repeat; 
    color: coral;
    width: 43%;
    height: 23%;
    font: bold;
    margin-top: 4%;
    margin-left: 4.5%;
}
.botonmenuprincipal4 {
    /*background: chartreuse;
    /*background-color: coral;*/
    //background: mediumspringgreen;
    background-image: url("../../assets/imagenes/salir.jpg");
    background-repeat: no-repeat; 
    color: coral;
    width: 43%;
    height: 23%;
    font: bold;
    margin-top: 4%;
    margin-left: 4.5%;
}