/*
ion-content .background {
    background: url(..//../assets/imagenes/fon.png)0 0/100% 100% no-repeat;
    height: 100%;
    background-color: 100%;
}*/
.fondo {
    background-image: url("../../assets/imagenes/fon.png");
    background-repeat: no-repeat;  
    background-size: 200;
    height:250px;
    width: 250px;
    margin-left: 15%;
    /*margin-right: auto;*/
    margin-top: 30%;
    border: none;
    outline: none;
    /*display: none;*/
    background-color: transparent;

}

.empezar {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: blue;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 45%;
    height: 10%;
    margin-top: 30px;
    margin-left: 27.5%;
    border-radius: 15px;
}

.a {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: red;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 80%;
    margin-left: 4.5%;
}


.p {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: blue;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.r {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: greenyellow;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.e {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: yellow;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.n {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: blueviolet;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.d {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: blue;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.e {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: yellow;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.c {
    /*background: chartreuse;
    /*background-color: coral;*/
    background-color: purple;
    font: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 28.5%;
    margin-left: 4.5%;
}

.o {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: coral;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.n {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: blueviolet;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.m {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: blueviolet;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}
.i {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: red;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.g {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: grey;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}

.o {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: coral;
    color: white;
    font-weight:bold;
    font-size: 14pt;
    width: 7%;
    height: 6%;
    margin-top: 4.5%;
    /*margin-left: 4.5%;*/
}