<ion-header>
  <!--ion-toolbar>
    <ion-title>pantalla-inicio</ion-title>
  </ion-toolbar-->
  <link rel="import" href="./pantalla-inicio.page.scss">

</ion-header>

<ion-content class="shop">
 
  <ion-button color="yellow"  class="fondo" ></ion-button>
  <!--ion-button color="yellow"  class="a" >A</ion-button>
  <ion-button color="yellow"  class="p" >P</ion-button>
  <ion-button color="yellow"  class="r" >R</ion-button>
  <ion-button color="yellow"  class="e" >E</ion-button>
  <ion-button color="yellow"  class="n" >N</ion-button>
  <ion-button color="yellow"  class="d" >D</ion-button>
  <ion-button color="yellow"  class="e" >E</ion-button>
  <ion-button color="yellow"  class="c" >C</ion-button>
  <ion-button color="yellow"  class="o" >O</ion-button>
  <ion-button color="yellow"  class="n" >N</ion-button>
  <ion-button color="yellow"  class="m" >M</ion-button>
  <ion-button color="yellow"  class="i" >I</ion-button>
  <ion-button color="yellow"  class="g" >G</ion-button>
  <ion-button color="yellow"  class="o" >O</ion-button-->
    <ion-button color="yellow"  class="empezar" (click)="Create()">CREAR</ion-button>
    <ion-button color="yellow"  class="empezar" (click)="Edit()">EDITAR</ion-button>
  <ion-button color="yellow"  class="empezar" (click)="Continuar()">EMPEZAR</ion-button>
</ion-content>
