/*.map {
    height: 100%;
  }*/

  .map {
    height: 50%;
  }
  ion-content.background{
    --background:rgb(255, 255, 255);
  }
  ion-toolbar.color{
    --background:rgb(81, 255, 0);
  }

 /* canvas {
    border: 3px dashed gray;
    width: 100%;
    //height: 50%;
}*/
  canvas {
    border: 3px dashed gray;
    width: 100%;
    //height: 50%;
}

/*
ion-content.background{
  --background: url(../../assets/imagenes/fon.png)0 0/50% 50% no-repeat;
  height: 50%;
  background-color: 50%;
  margin-left: 20%;
}*/

/*
ion-content.background {
  --background: url("../../assets/imagenes/fon.png");
  background-repeat: no-repeat;  
  background-size: 300;
  height:250px;
  width: 250px;
  /*margin-right: auto;
  margin-top: 13px;
}*/
//
/*
ion-content.background{
  --background: url("../../assets/imagenes/fon.png") 0 0/50% 50% no-repeat;
  height: 50%;
  background-color: 50%;
  margin-left: 20%;
}*/
/*
.borrador {
  background-image: url("../../assets/imagenes/borrador.png");
  background-repeat: no-repeat;  
 // background-size: 200;
  height: 70px;
  width: 70px;
  margin-left: 10%;
  /*margin-right: auto;
  margin-top: 5px;
  border: none;
  outline: none;
  /*display: none;
}*/

.borrador {
  background-image: url("../../assets/imagenes/BORR.png");
  background-repeat: no-repeat;  
  //background-size: 200;
  height: 65px;
  width: 75px;
  margin-left: 15%;
  /*margin-right: auto;*/
  margin-top: 13px;
}

.bocina {
  background-image: url("../../assets/imagenes/bocinaa.png");
  background-repeat: no-repeat;  
  //background-size: 200;
  height: 65px;
  width: 75px;
  margin-left: 15%;
  /*margin-right: auto;*/
  margin-top: 13px;
}
/*
ion-content.background{
  --background: url("../../assets/imagenes/aa.png") 0 0/50% 50% no-repeat;
  height: 50%;
  background-color: 50%;
  margin-left: 20%;
}
*/
/*
ion-content.background{
  --background: url("../../assets/imagenes/aa.png") 0 0/70% 70% no-repeat;
  height: 50%;
  background-color: 50%;
  margin-left: 20%;
}*/
.pizarra{
 height: 250px; 
}

.vocales {
  background: coral;
  //color: white;
  font-size: 20px;
  width: 16%;
  height: 8%;
  margin-top: 4%;
  margin-left: 2%;
  font-weight: bold;
}
/*
.desk {
  background: midnightblue;
  width: 100%;
  height: 100%;
}*/


.pizarra {
  background-image: url("../../assets/imagenes/p.png");
  background-repeat: no-repeat; 
  margin-left: 1%;
}

ion-content {
  --background: none;
}
.regresar {
  background-image: url("../../assets/imagenes/back.png");
  background-repeat: no-repeat;  
  //background-size: 200;
  height: 65px;
  width: 75px;
  margin-left: 15%;
  /*margin-right: auto;*/
  margin-top: 20px;
}
.continuar {
  background-image: url("../../assets/imagenes/next.png");
  background-repeat: no-repeat;  
  //background-size: 200;
  height: 65px;
  width: 75px;
  margin-left: 25%;
  /*margin-right: auto;*/
  margin-top: 20px;
}