<ion-header>
  <ion-toolbar>
    <ion-title>historial-ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Read -->
  <ion-item *ngFor="let historial of crud.HISTORIAL">
    <ion-label>
      <h2><strong>{{ historial.Fecha_Inicio }}</strong></h2>
      <p>{{ historial.Hora_Inicio }}</p>
      <p>{{ historial.Hora_Fin }}</p>
    </ion-label>


  </ion-item>
</ion-content>
