<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Aprendizaje</ion-title>
  </ion-toolbar>
  <link rel="import" href="./sub-menu-aprendizaje.page.scss">
</ion-header>
<ion-content>
  <ion-buttons>
  <ion-button color="yellow"  class="submenuaprendizaje1" (click)="Vocales();">Las Vocales</ion-button>
  <ion-button color="blue" class="submenuaprendizaje11"  (click)="Instrucciones1()"> </ion-button>
</ion-buttons >

  <ion-buttons>
  <ion-button color="yellow"  class="submenuaprendizaje2" (click)="Abecedario();">El Abecedario</ion-button>
  <ion-button color="blue" class="submenuaprendizaje22"  (click)="Instrucciones2()"> </ion-button>
</ion-buttons >

  <ion-buttons>
  <ion-button color="yellow"  class="submenuaprendizaje2" (click)="Lassilabas();">Las Sílabas</ion-button>
  <ion-button color="blue" class="submenuaprendizaje22"  (click)="Instrucciones3()"> </ion-button>
</ion-buttons >

  <ion-buttons>
  <ion-button color="yellow"  class="submenuaprendizaje2" (click)="Losnumeros();">Los Números</ion-button>
  <ion-button color="blue" class="submenuaprendizaje22"  (click)="Instrucciones4()"> </ion-button>
</ion-buttons >

  <ion-buttons>
  <ion-button color="yellow"  class="submenuaprendizaje2" (click)="Deletrear();">Deletrando</ion-button>
  <ion-button color="blue" class="submenuaprendizaje22"  (click)="Instrucciones5()"> </ion-button>
</ion-buttons >

  <ion-button color="blue" class="regresar"  (click)="Regresar()"> </ion-button>

</ion-content>
