<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Aprendizaje
    </ion-title>
  </ion-toolbar>
  <link rel="import" href="./xa.page.scss">
</ion-header>

<ion-content class="ion-padding background" [style.background-image]="'url(' + image_backg + ')'" 
[style.background-size]="'cover'" [style.background-repeat]="'no-repeat'">
  <!--ion-img class="map" [src]="imagen" (click)="vocales('a');"></ion-img-->
 <!--ion-buttons >
    <ion-button  color="light" expand="full" [disabled]="isCanvasBlank()" (click)="save()"> Save</ion-button>
    <ion-button color="light" expand="full" (click)="undo()"> Undo</ion-button-->
      <ion-button class="borrador" color="blue"  (click)="clear()"></ion-button>
      <ion-button class="bocina" color="blue"  (click)="sonido()"></ion-button>
    <!--/ion-buttons-->
  
    <div class="signature-pad">
      <div> 
        <canvas class="signature-pad-canvas pizarra" #canvas width="400" height="300" style="touch-action: none;"></canvas>
      </div>
    </div>
    <ion-button color="blue" class="regresar"  (click)="Regresar()"> </ion-button>
    <ion-button color="blue" class="continuar"  (click)="Continuar()"> </ion-button>
   
   
</ion-content>