<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Aprendizaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="blue" class="deletrear1"  (click)="Animales()"> </ion-button>
  <ion-button color="blue" class="deletrear3"  (click)="Alimentos()"></ion-button>
  <ion-button color="blue" class="deletrear2"  (click)="Hogar()"> </ion-button>
  <ion-button color="blue" class="deletrear4"  (click)="Herramientas()"> </ion-button> 
  <ion-button color="blue" class="regresar"  (click)="Regresar()"> </ion-button>

</ion-content>
