
.body {
    color: beige;
    background-color: coral;

}

.deletrear1 {
    //background-image: url("../../assets/imagenes/animales.jpg");
    //background-repeat: no-repeat; 
    /*background: chartreuse;
    /*background-color: coral;*/
    //background: mediumspringgreen;
    background-image: url("../../assets/imagenes/animales.png");
    background-repeat: no-repeat; 
    color: coral;
    font: bold;
    font-size: 15px;
    width: 43%;
    height: 23%;
    margin-top: 25%;
    margin-left: 4.5%;
}

.deletrear2 {
    /*background: chartreuse;
    /*background-color: coral;*/
   // background: mediumspringgreen;
    color: coral;
    background-image: url("../../assets/imagenes/hogar.jpg");
    background-repeat: no-repeat; 
    font: bold;
    font-size: 15px;
    width: 43%;
    height: 23%;
    margin-top: 4%;
    margin-left: 4.5%;
}
.deletrear3 {
    /*background: chartreuse;
    /*background-color: coral;*/
    //background: mediumspringgreen;
    background-image: url("../../assets/imagenes/alimentos.jpg");
    background-repeat: no-repeat; 
    color: coral;
    width: 43%;
    font-size: 15px;
    height: 23%;
    margin-top: 25%;
    margin-left: 4.5%;
}
.deletrear4 {
    background-image: url("../../assets/imagenes/herramientas.jpg");
    background-repeat: no-repeat; 
    /*background: chartreuse;
    /*background-color: coral;*/
    //background: mediumspringgreen;
    color: coral;
    width: 43%;
    height: 23%;
    margin-top: 4%;
    font-size: 15px;
    margin-left: 4.5%;
}
.regresar {
    background-image: url("../../assets/imagenes/back.png");
    background-repeat: no-repeat;  
    //background-size: 200;
    height: 65px;
    width: 75px;
    margin-left: 40%;
    /*margin-right: auto;*/
    margin-top: 20px;
  }
  .continuar {
    background-image: url("../../assets/imagenes/next.png");
    background-repeat: no-repeat;  
    //background-size: 200;
    height: 65px;
    width: 75px;
    margin-left: 40%;
    /*margin-right: auto;*/
    margin-top: 20px;
  }
  .submenuaprendizaje11 {
    background: mediumspringgreen;;
    //border: mediumspringgreen;
    border-color: yellow;
    border-width: 2px;
    //color: white;
    width: 40px;
    height: 40px;
    margin-top: 10%;
}

.submenuaprendizaje22 {
    background: mediumspringgreen;
    //border: mediumspringgreen;
    border-color: mediumspringgreen;
    border-width: 2px;
    //color: white;
    width: 9%;
    height: 55px;
    margin-top: 4.5%;
    //margin-left: 4.5%;
}