.lin_superior {
    background-color: yellow;
}


.configuraciones1 {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: mediumspringgreen;
    color: coral;
    width: 80%;
    height: 55px;
    margin-top: 10%;
    margin-left: 4.5%;
}

.configuraciones2 {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: mediumspringgreen;
    color: coral;
    width: 80%;
    height: 55px;
    margin-top: 4.5%;
    margin-left: 4.5%;
}

.desk {
    background: white;
    width: 100%;
    height: 100%;
}
.regresar {
    background-image: url("../../assets/imagenes/back.png");
    background-repeat: no-repeat;  
    //background-size: 200;
    height: 65px;
    width: 75px;
    margin-left: 40%;
    /*margin-right: auto;*/
    margin-top: 20px;
  }
  .submenuaprendizaje11 {
    background: mediumspringgreen;;
    //border: mediumspringgreen;
    border-color: mediumspringgreen;
    border-width: 2px;
    //color: white;
    width: 9%;
    height: 55px;
    margin-top: 10%;
}

.submenuaprendizaje22 {
    background: mediumspringgreen;
    //border: mediumspringgreen;
    border-color: mediumspringgreen;
    border-width: 2px;
    //color: white;
    width: 9%;
    height: 55px;
    margin-top: 4.5%;
    //margin-left: 4.5%;
}