<ion-header>
  <ion-toolbar color="primary">
    <ion-title>configuraciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="desk">
    <ion-buttons>
      <ion-button color="yellow"  class="configuraciones1" (click)="Ayuda();">Ayuda</ion-button>
      <ion-button color="blue" class="submenuaprendizaje11"  (click)="Instrucciones()"> </ion-button>
    </ion-buttons>
    
    <ion-buttons>
      <ion-button color="yellow"  class="configuraciones2" (click)="Historialingreso();">Historial de Ingreso</ion-button>
      <ion-button color="blue" class="submenuaprendizaje22"  (click)="Instrucciones()"> </ion-button>
    </ion-buttons>
    
    <ion-button color="blue" class="regresar"  (click)="Regresar()"> </ion-button>

  </div>
</ion-content>
