.submenuaprendizaje1 {
    /*background: chartreuse;
    /*background-color: coral;*/
   // background: mediumspringgreen;
   background: mediumspringgreen;
   //color: white;
    color: coral;
    width: 80%;
    //width: 80%;
    //height: 9%;
    height: 55px;
    margin-top: 10%;
    margin-left: 4.5%;
}

.submenuaprendizaje2 {
    /*background: chartreuse;
    /*background-color: coral;*/
    background: mediumspringgreen;
    color: coral;
    width: 80%;
    //width: 80%;
    //height: 9%;
    height: 55px;
    margin-top: 4.5%;
    margin-left: 4.5%;
    font: bold;
}

.submenuaprendizaje11 {
    background: mediumspringgreen;;
    //border: mediumspringgreen;
    border-color: mediumspringgreen;
    border-width: 2px;
    //color: white;
    width: 9%;
    height: 55px;
    margin-top: 10%;
}

.submenuaprendizaje22 {
    background: mediumspringgreen;
    //border: mediumspringgreen;
    border-color: mediumspringgreen;
    border-width: 2px;
    //color: white;
    width: 9%;
    height: 55px;
    margin-top: 4.5%;
    //margin-left: 4.5%;
}
.regresar {
    background-image: url("../../assets/imagenes/back.png");
    background-repeat: no-repeat;  
    //background-size: 200;
    height: 65px;
    width: 75px;
    margin-left: 40%;
    /*margin-right: auto;*/
    margin-top: 30px;
  }