<ion-header>
  <ion-toolbar color="primary">
    <ion-title>comprobación-conocimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--ion-button color="blue" class="submenuaprendizaje1"  (click)="Animales1()">Evaluación No 1  <ion-button color="blue" class="submenuaprendizaje3"  (click)="Animales1()"> </ion-button> </ion-button-->
  <!--ion-button color="blue" class="submenuaprendizaje3"  (click)="Animales1()"> </ion-button-->
  <ion-buttons>
    <ion-button color="blue" class="submenuaprendizaje1"  (click)="Animales1()">Evaluación No 1  </ion-button>
    <ion-button color="blue" class="submenuaprendizaje11"  (click)="Instrucciones1()"> </ion-button>
  </ion-buttons >

  <ion-buttons>
  <ion-button color="blue" class="submenuaprendizaje2"  (click)="Animales2()">Evaluación No 2 </ion-button>
  <ion-button color="blue" class="submenuaprendizaje22"  (click)="Instrucciones2()"> </ion-button>
</ion-buttons >

<ion-buttons>
  <ion-button color="blue" class="submenuaprendizaje2"  (click)="Animales3()">Resultados </ion-button>
  <ion-button color="blue" class="submenuaprendizaje22"  (click)="Instrucciones3()"> </ion-button>
</ion-buttons>
<ion-button color="blue" class="regresar"  (click)="Regresar()"> </ion-button>
</ion-content>
