<ion-header>
  <ion-toolbar color="primary">
    <ion-title>prueba2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="bocina" color="blue"  (click)="sonido()"></ion-button>
  <ion-button color="yellow"  class="botonmenuprincipal1" (click)="Aprendizaje();">F</ion-button>
  <ion-button color="yellow"  class="botonmenuprincipal3" (click)="Comprobacionconocimientos();">F</ion-button>
  <ion-button color="yellow"  class="botonmenuprincipal2" (click)="Configuraciones();">C</ion-button>
  <ion-button color="yellow"  class="botonmenuprincipal4" (click)="Salir();">A</ion-button>

</ion-content>
