
.body {
    color: beige;
    background-color: coral;

}
.bocina {
    background-image: url("../../assets/imagenes/bocinaa.png");
    background-repeat: no-repeat;  
    //background-size: 200;
    height: 65px;
    width: 75px;
    margin-left: 15%;
    /*margin-right: auto;*/
    margin-top: 13px;
  }
  
.regresar {
    background-image: url("../../assets/imagenes/back.png");
    background-repeat: no-repeat;  
    //background-size: 200;
    height: 65px;
    width: 75px;
    margin-left: 15%;
    /*margin-right: auto;*/
    margin-top: 40px;
  }
  .continuar {
    background-image: url("../../assets/imagenes/next.png");
    background-repeat: no-repeat;  
    //background-size: 200;
    height: 65px;
    width: 75px;
    margin-left: 25%;
    /*margin-right: auto;*/
    margin-top: 40px;
  }
.foto {
    background-image: url("../../assets/imagenes/martillo.jpg");
    background-repeat: no-repeat; 
    /*background: rgb(95, 114, 107);
    color: white;*/
    width: 75%;
    height: 35%;
    margin-top: 5%;
    margin-left: 12%;
}
.animales1 {
    background: yellow;
    color: black;
    width: 20%;
    height: 10%;
    margin-top: 5%;
    margin-left: 15%;
}
.animales2 {
    background: yellow;
    color: black;
    width: 20%;
    height: 10%;
    margin-top: 5%;
    margin-left: 2%;
}
.animales3 {
  background: yellow;
  color: black;
  width: 20%;
  height: 10%;
  margin-top: 5%;
  margin-left: 2%;
}


